<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.kongke.infrastructure.persistent.mapper.GroupMsgMapper">

    <resultMap id="BaseResultMap" type="com.kongke.infrastructure.persistent.po.GroupMsgPO">
            <id property="id" column="id" />
            <result property="groupId" column="group_id" />
            <result property="uid" column="uid" />
            <result property="content" column="content" />
            <result property="sendTime" column="send_time" />
    </resultMap>

    <sql id="Base_Column_List">
        id,group_id,uid,content,send_time
    </sql>
</mapper>
