<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.kongke.infrastructure.persistent.mapper.CommentMapper">

    <resultMap id="BaseResultMap" type="com.kongke.infrastructure.persistent.po.CommentPO">
            <id property="id" column="id" />
            <result property="postId" column="post_id" />
            <result property="uid" column="uid" />
            <result property="content" column="content" />
            <result property="createTime" column="create_time" />
            <result property="pid" column="pid" />
    </resultMap>

    <sql id="Base_Column_List">
        id,post_id,uid,content,create_time,pid
    </sql>
</mapper>
